.nav_style{
    height: 200px;
}
.bar1{
    margin: 0px;
}
.name{
    font-size: 1.5rem;
    line-height:25px;
}
.summ{
    line-height:25px;
}
.contact{
    font-size: 1.2rem;

}
.img_profile{
    margin-top: 40px;
}
.personalized_width{
    width: 65%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:auto;
    padding: 1rem;
}
body{
    background-color: rgb(82, 82, 82);
}
.skill_header{
    font-weight: 600;
    transition: all 1s ease-in-out;
}
.date{
    font-size: 1.5rem;
}
.inner_text{
    font-size: 1.5rem;
}
.card_skill{
    background: rgb(252, 221, 221);
    border-radius: 5px;
    padding: 1rem;
}

.content{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.sub{
    font-weight: 600;
}
.description{
    line-height:25px;
}
.university{
    font-size: 1.2rem;
    font-weight: 600;
}
.position{
    text-decoration: underline;
}
.separator{
    background-color: black;
    height: 3px;
}
/* efectos */
.skill_header:hover{
    color:red;
}
.country{
    color: #1976d3;
    font-size: 20px;
}
.bar{
    height: 170px;
        width: 3px
}
/* media queries */
@media (max-width: 1200px) {
    .personalized_width{
        width: 100%;
    }
  
  } 
@media (max-width: 900px) {
    .name{
        font-size: 1rem;
    }
    .sum{
        margin-right: 0px;
    }
    .tech{
        margin-left: 1rem;
    }
}
@media (max-width: 500px) {
    .name{
        font-size: 0.9rem;
        line-height: 20px;
    }
    .sum{
        margin-right: 0px;
    }
    .tech{
        margin-left: 0.9rem;
        line-height: 20px;

    }
}
@media (max-width: 400px) {
    .nav_style{
        height: 300px;
    }
    .adjust{
        display: flex;
        flex-direction: column;
    }
    .bar{
        height: 3px;
        width: 90%;
    }
    .name{
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .contact{
        text-align: center;
    }
    .tech{
        text-align: center;
    }
    .date{
        font-size: 1rem;
    }
    .country{
        display: none;
    }
}
